.popup__container {
  max-width: 430px;
  margin: auto;
  position: relative;
}

@media screen and (max-width: 620px) {
  .popup__container {
    max-width: 282px;
  }
}

.popup__content {
  margin: auto;
  position: relative;
}

.popup__image {
  max-width: 75vw;
  max-height: 75vh;
}

.popup__subtitle {
  font-size: 12px;
  line-height: 0.8;
  color: #FFFFFF;
  margin: 0;
  padding-top: 10px;
}