.element__heart {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/element-heart.svg);
  background-repeat: no-repeat;
  background-position: center;
  padding: 0;
  padding-left: 20px;
  border: 0px;
  background-color: #FFFFFF;
}

.element__heart:hover {
  opacity: 0.5;
  /*background-image: url(../../../images/);*/
}